body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(157, 157, 235);
  border: 10px solid pink;
}

table {
  width: 70vw;
  border-color: none;
  margin-bottom: 15px;
}

td {
  background: pink;
  padding: 10px;
  max-height: 40px;
  width: 500px;
}

th {
  background: rgb(7, 92, 107);
  color: white;
  width: 300px;
  height: 40px;
  font-size: 23px;
}
.datamodif {
  margin-top: 20px;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  background: rgb(157, 157, 235);
  margin-bottom: 20px;
}

.ajouterligne {
  margin-bottom: 20px;
}
#selectfile {
  background: pink;
  width: 40vw;
  height: 70px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  border: none;
}

#ajoutligne,
button {
  background: rgb(7, 92, 107);
  width: 200px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  border: none;
}

#ajoutligne:hover {
  width: 210px;
  font-size: 17px;
}
#myInput {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
  border: none;
}

#savedata {
  height: 70px;
}
